.cardComponent{
 transition: all 300ms ease;
}

.card{
    background-color: var(--mantine-color-gray-1);
    border: 1px solid var(--mantine-color-gray-3);
     border-radius: var(--mantine-radius-md);
    transition: all 300ms ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.choosenCard{
    background-color: var(--mantine-color-cyan-4);
    border: 1px solid var(--mantine-color-cyan-2);
   
     border-radius: var(--mantine-radius-md);
    transition: all 300ms ease;
        animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;

}

.card:hover{
    border: 1px solid var(--mantine-color-cyan-5);
    background-color: var(--mantine-color-white);

    .cardTitle{
    color:var(--mantine-color-cyan-9);
}
}


.cardTitle{
     color:var(--mantine-color-gray-7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 300ms;     
}

.choosenCardTitle{
      color: var(--mantine-color-white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 300ms;     
}



.imageTransition{
      transition: all 300ms ease;     
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
