  .annotationLayer {
    overflow: hidden;
    display: flex;

    position:static;

  
    pointer-events: none; /* Umożliwia kliknięcie na inne elementy */
    
  }

  .page{
    /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Zapewnia, że warstwa tekstowa znajduje się nad stroną */
  /*pointer-events: none; Zapobiega problemom z klikaniem */
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin: 0.5rem;

   
  }

.space{
    padding: 10px;
    padding-right: 10px;
}
