.sectionBlockStyle{
    width: 100%;
     background-color: var(--mantine-color-white);
   /* border: 1px solid var(--mantine-color-cyan-0); */
   /* border-left: 3px solid var(--mantine-color-cyan-3); */
  /* background-color: #ebffff; */
    border-radius: var(--mantine-radius-md);

}

.unmarkedFrame{
    margin-left: 3px;
    margin-right: 3px;
    
}

.unmarkedFramePaper{
    margin-left: -3px;
    margin-right: -3px;
    
}

.blockFrameStyle{
    /* background-color: var(--mantine-color-cyan-0); */
    border-left: 3px solid var(--mantine-color-cyan-3);
    border-right: 3px solid var(--mantine-color-cyan-3);
  
}

.stickyElement{
    position: sticky;
    top: 100
}

.textfieldNotFocused{
    /* word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify; */
}

.centeredInput{

}

.titlePageContent{
    border-bottom: 1px solid var(--mantine-color-gray-1);
    border-top: 1px solid var(--mantine-color-gray-1);
}

.trunckedText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trunkTo3Lines{
   
 display: -webkit-box;
  -webkit-line-clamp: 3;   
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.titlePage{
    text-align: center;

    .titiptap{
    
        text-align: center !important;
    }
}


.openEquationEditorButton{

   width: 100%;
   cursor: pointer;

}

.table{
    border-collapse: collapse;
    overflow: hidden;

    td{
        border: 1px solid black;
        box-sizing: border-box;
    }

    button:disabled{
        background-color: transparent;
        color: black;
        cursor: default;
    }
}

.codeEditorNumbers{
    font-family: monospace;
    line-height: 1.2rem;
    padding: 0px;
    margin: 0px;



}


    .codeEditorInput{
       outline: none;
       font-family: monospace;
        font-size: 1rem;
         line-height: 1.2rem;
          padding:0.5rem;
           margin: 0px;
         border-bottom-left-radius: 0px;
           border-top-left-radius: 0px;
    }

    .codeEditorInput:focus{
         outline: none;
         border: none
    }

    .codeEditor{
        /* border: 1px solid red; */
    }