  .band{
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    border: 1px solid light-dark(var(--mantine-color-cyan-7), var(--mantine-color-dark-6));
        /* background-color: light-dark(var(--mantine-color-cyan-0), var(--mantine-color-dark-9));
    border: 1px solid light-dark(var(--mantine-color-cyan-2), var(--mantine-color-dark-6)); */

   
  }

  .tab {
    z-index: 1;
    font-weight: 500;
    transition: color 100ms ease;
    color:  var(--mantine-color-cyan-8);
  
    &[data-active] {
      color: var(--mantine-color-white);
    }
  
    @mixin dark {
      color: var(--mantine-color-dark-1);
  
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }

  .list {
    position: relative;


  }

  .indicator {
    background-color: var(--mantine-color-cyan-7);
    border-radius: var(--mantine-radius-md);

  
    @mixin dark {
      background-color: var(--mantine-color-dark-6);
      border-color: var(--mantine-color-dark-4);
    }
  }
  
 
  
  .dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  .anchor{
    
   border-radius: 0.5rem;
  }

  .anchor:hover{

    text-decoration: none;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  }

  .barLeftBorder{
    margin-left: 0px;
    border-left: 3px solid var(--mantine-color-gray-3);
  }

  .barRightBorder{
    margin-right: 0px;
    border-right: 3px solid var(--mantine-color-gray-3);
  }

  .documentName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }