  .band{
    background-color: light-dark(var(--mantine-color-cyan-6), var(--mantine-color-dark-9));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
    z-index: 2;

   
  }

  .tab {
    z-index: 1;
    font-weight: 500;
    transition: color 100ms ease;
    color:  var(--mantine-color-cyan-8);

      
  


    &[data-active] {
      color: var(--mantine-color-white);


    }
  
    @mixin dark {
      color: var(--mantine-color-dark-1);
  
      &[data-active] {
        color: var(--mantine-color-white);
        
      }
    }
  }

  .list {
    position: relative;
     flex-shrink: 0;
     z-index: 15;


  }

  .indicator {
   
    background-color: var(--mantine-color-cyan-6);
    
    border-radius: var(--mantine-radius-md);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
     border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6)); 
     z-index: 10;
    
   

    &::after{
       content: '';
      display: block;
          border-radius: var(--mantine-radius-md);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   background-color: var(--mantine-color-cyan-6);
      width: 100% ;
      height:38px;
        z-index: 0;


      
    }

  
    @mixin dark {
      background-color: var(--mantine-color-dark-6);
      border-color: var(--mantine-color-dark-4);
    }
  }
  
 
  
  .dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  .anchor{
    
   border-radius: 0.5rem;
  }

  .anchor:hover{

    text-decoration: none;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  }

  .barLeftBorder{
    margin-left: 0px;
    border-left: 3px solid var(--mantine-color-gray-3);
  }

  .barRightBorder{
    margin-right: 0px;
    border-right: 3px solid var(--mantine-color-gray-3);
  }

  .documentName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .zoomToolsDropdownOption:hover{
background-color: var(--mantine-color-gray-1);
  }
