.title {
    font-size: 34px;
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 24px;
    }
  }
  
  .description {
    max-width: 600px;
    margin: auto;
  
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: 45px;
      height: 2px;
      margin-top: var(--mantine-spacing-sm);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .card {
    background-color: var(--mantine-color-gray-0);

    transition: all 300ms;      
}

  .card:hover{

    background-color: var(--mantine-color-white);

    .cardMoreButton{
      opacity: 100%;
    }
  }

  .cardMoreButton{
    transition: all 300ms;
    opacity: 0%;
  }
  
  
   
.cardTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 300ms;     
}


  .underline{
    content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: 45px;
      height: 2px;
      margin-top: var(--mantine-spacing-sm);
  }