.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
  }

  .paper{
    border-left: 3px solid var(--mantine-color-cyan-3);
    border-right: 3px solid var(--mantine-color-cyan-3);
  }
