.formulaTabTextarea{

        height: 15vh;
}

.markedElement{
         background-color: var(--mantine-color-cyan-3); 
        color: var(--mantine-color-white);
      
        /* border-right:solid 2px var(--mantine-color-cyan-3);
        border-left:solid 2px var(--mantine-color-cyan-3);
        border-bottom:solid 2px var(--mantine-color-cyan-3); */
        
        /* border-bottom-right-radius:var(--mantine-radius-md); ;
         border-bottom-left-radius: var(--mantine-radius-md);  */
         border-radius: var(--mantine-radius-md); 
}

.unmarkedelement{
        border-radius: var(--mantine-radius-md);
        background-color: var(--mantine-color-gray-1);
}

.elementsTree{
        border-radius: var(--mantine-radius-md);
}