

.heroBg{
    position:fixed;
    transition: all 0.3s ease-out;
    filter: blur(7px) brightness(140%) saturate(0.5);
     z-index: -1;

     clip-path: inset(0 0 0 0);
    
} 

.belowBg{
   border-top: 1px solid var(--mantine-color-gray-2);
   position: absolute;
   top: 89vh;
   background-color: var(--mantine-color-white);
  
}

.appImg{
border-radius: var(--mantine-radius-md);
border: 1px solid var(--mantine-color-cyan-7);
  filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
}

.resetHeroBg{
    
    filter: drop-shadow(0 2px 50px rgba(255, 255, 255,1));
}

.heroTitle{
transition: all 0.3s ease-out;
}
.heroTitle:hover{
   transform: scale(1.05);
}

.whatIsBg{
    z-index: 2;
   
    border-bottom: 1px solid var(--mantine-color-gray-2);
   
}

.process{
    .processEle1{
         background-color: var(--mantine-color-white);
         margin-bottom: 10rem;
        border-radius: var(--mantine-radius-md);
        border: 3px solid  var(--mantine-color-cyan-9);
        border-top:  15px solid  var(--mantine-color-cyan-9);;
        
        margin-right: -2rem;
        z-index: 4;
         transition: transform 0.3s ease-out;
        transform: translateX(0);
        filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
        .bar{

            border-bottom: 3px solid  var(--mantine-color-cyan-9);
        }
    }

     .processEle2{
       filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
        z-index: 3;
    }
        .processEle3{
           filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
        margin-top: 10rem;
        margin-left: -2rem;
        z-index: 2;
         transform: translateX(0);
          transition: transform 0.3s ease-out;
    }
 transition: transform 0.3s ease-out;
    .arrow1{
         transition: all 0.3s ease-out;
    }
    .arrow2{
         transition: all 0.3s ease-out;
    }
}

.process:hover{
    transform: translateY(-2rem);
     .processEle1{
        transform: translateX(-5rem) translateY(-2rem);

    }
        .processEle3{
        transform: translateX(5rem)  translateY(4rem);
    }

    .arrow1{
       transform: translateY(5rem) translateX(-11rem);
    }
     .arrow2{
       transform: translateY(14rem) translateX(5rem);
    }
}

.card{
    transition: all 0.3s ease-out;
     &::after {
        transition: all 0.3s ease-out;
     content: '';
    display: block;
    background-color: var(--mantine-color-yellow-7);
    width: 0rem;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
     }

     .cardTitle {

       /* &::after {
        transition: all 0.3s ease-out;
     content: '';
    display: block;
    background-color: var(--mantine-color-yellow-7);
    width: 0rem;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
     } */
}
}

.card:hover{
    
    transform: scale(1.05);
    
   
}

.cardTitle {

  /* &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-yellow-7);
    width: 10rem;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  } */
}

.title {
  font-size: 34px;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;


}

.equationBg{
    background:  linear-gradient(to right, var(--mantine-color-cyan-9), var(--mantine-color-cyan-6));
     /*  background:  linear-gradient(to left,var(--mantine-color-cyan-4), var(--mantine-color-cyan-3), rgba(0,0,0,0), rgba(0,0,0,0) ), url('eqEditor1.png'); 
background-repeat: no-repeat; 
background-size: cover; */

&::after{

  height: 25vh;
  width: 100%;
  background-color: var(--mantine-color-gray-1);
  content: '';
  display: block;
  top: 0;
  position: absolute;
  /* border-top-left-radius:  100% 100%;
   border-top-right-radius:  100% 100%; */
   clip-path: ellipse(60% 60% at 50% 0%)
}
    }

.editorImg1{
     display: absolute;
    margin-right: -28rem;
    margin-bottom: 7rem;
    border: 2px solid var(--mantine-color-cyan-4);
    z-index: 2;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
    transition: all 0.3s ease-out;
}

.editorImg2{
    display: absolute;
margin-left: -5rem;
 margin-right: 10rem;
    margin-top: 10rem;
    border: 2px solid var(--mantine-color-cyan-4);
    z-index: 2;
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.2));
    transition: all 0.3s ease-out;
}



.editorImg2:hover{
    scale: 1.1;
     opacity: 1;
}

.imgs:hover{
    .editorImg1{
    scale: 1.15;
    transform: translateX(3rem)  translateY(2.5rem);
}

.editorImg2{
        opacity: 0;
         transform: translateX(3rem)  translateY(2.5rem) scale(0.8);
    }
}


.footer {
 height: 11vh;
   z-index: -1;
position: static;
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));

 
}

/* .footer::before{ display: block; height: 11vh; content: "";} */

.inner {

   

   z-index: 0;
  position: fixed;
  bottom: 0vh;
width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  
    margin-top: var(--mantine-spacing-md);
  
}