.sectionBlockStyle{
    width: 100%;
     background-color: var(--mantine-color-white);
   /* border: 1px solid var(--mantine-color-cyan-0); */
   /* border-left: 3px solid var(--mantine-color-cyan-3); */
  background-color: #ebffff;
    border-radius: var(--mantine-radius-md);

}

.blockFrameStyle{
    /* background-color: var(--mantine-color-cyan-0); */
    border-left: 3px solid var(--mantine-color-cyan-3);
    border-right: 3px solid var(--mantine-color-cyan-3);
  
}

.stickyElement{
    position: sticky;
    top: 100
}

