button{
    &[data-variant='format'] {
      padding: 0.5rem;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    
        @mixin light {
           background-color: var(--mantine-color-gray-white);
           color: var(--mantine-color-white)
        }
    
        @mixin dark {
            background-color: var(--mantine-color-dark-8);
            color: var(--mantine-color-gray-white)
        }
    
        &:hover{
             background-color: light-dark(var(--mantine-color-cyan-5), var(--mantine-color-dark-8)) !important; 
        }

        &:disabled{
         
          color: var(--mantine-color-cyan-3) 
        }
}
}

input{
    &[data-variant='header1'] {

      font-weight:bolder;
      font-size: 1.5rem;
    
        @mixin light {
           background-color: var(--mantine-color-gray-white);
           color: var(--mantine-color-gray-black)
        }
    
        @mixin dark {
            background-color: var(--mantine-color-dark-8);
            color: var(--mantine-color-gray-white)
        }
    
}
}
