body{
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));

    h6{
        font-weight: 100;
    }
}

.tiptap{
    outline: none;
    text-align: left;
    margin: 0px;
    border-radius: var(--mantine-radius-md);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

        word-wrap: break-word;
    overflow-wrap: break-word;
     overflow-wrap: anywhere;
     background-color: #ebffff;

     p:empty {
  height: 1.55rem !important;
}

   
.mention {
    background-color: var(--mantine-color-cyan-4);
            color: var(--mantine-color-white);
  
    border-radius: var(--mantine-radius-md);
    box-decoration-break: clone;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    padding: 0.3rem;
    padding-top: 0px;
    padding-bottom: 2px;
    &::after {
      content: "\200B";
    }
  }

    p{
        margin: 0px;
        padding: 0px;
    }
}

.nonEditor{
    padding-right: calc(1rem + 2px);
    .mention{
            background-color: var(--mantine-color-cyan-0);
            color: var(--mantine-color-cyan-9);
    }
}

.tiptap:focus{


    .mention {

    }
    /* background-color: var(--mantine-color-white); */
   
}



.w-split-horizontal > .w-split-line-bar div::after,
.w-split-vertical > .w-split-line-bar div::after {
    border-radius: var(--mantine-radius-md);
    width: 5px !important;
    background-color: var(--mantine-color-cyan-7) !important;
   
}


