body{
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));

    h6{
        font-weight: 100;
    }
}

.tiptap{
    outline: none;

    p{
        margin: 0px;
        padding: 0px;
    }
}

