body{
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));

    h6{
        font-weight: 100;
    }
}

.tiptap{
    outline: none;
    text-align: justify;
    margin: 0px;
    border-radius: var(--mantine-radius-md);
    padding: 1rem;
    
    
   


    p{
        margin: 0px;
        padding: 0px;
    }
}

.tiptap:focus{
    background-color: #ebffff;
    /* background-color: var(--mantine-color-white); */
   
}


